.selector {
  @include media-breakpoint-down(lg) {
    padding: rfs-fluid-value(2rem);
    font-size: rfs-fluid-value(1.125rem);
  }
}
@media (max-width: 991.98px) {
  .selector {
    padding: calc(1.325rem + 0.9vw);
    font-size: 1.125rem; /* 1.125rem is small enough, so RFS won't rescale this */
  }
}

head {
}

body {
  background-color: white;
  background-size: cover;
}

.table-wrapper {
  overflow-y: scroll;
  overflow-x: scroll;
  height: fit-content;
  max-height: 66.4vh;
  margin-top: 22px;
  margin: 15px;
  padding-bottom: 20px;
}

table {
  min-width: max-content;
  border-collapse: separate;
  border-spacing: 0px;
}

table th {
  position: sticky;
  top: 0px;
  background-color: rgb(59, 10, 55);
  color: white;
  text-align: center;
  font-weight: normal;
  border: 1.5px solid black;
}

table th,
table td {
  padding: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: fantasy;
}

table td {
  text-align: left;
  font-size: 15px;
  border: 1.5px solid black;
  padding-left: 20px;
  font-family: fantasy;
}
